= form_for @doc, html: { class: "form-horizontal", role: "form" } do |f|
  -if @doc.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@doc.errors.count, "error")} prohibited this doc from being saved:"

      %ul
        - @doc.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-sm-12
      = f.label :title, "Give your What's Up Doc a title"
      = f.text_field :title, class: 'form-control', placeholder: '"Life goals", "Joe\'s Ventures", etc'
  .form-group
    .col-sm-12
      = f.submit class: 'btn btn-primary'
