- @doc ||= doc if defined?(doc)
.container
  .page-header.hidden-xs
    %h1
      = @doc.title
      - flash.each do |name, msg|
        - if name == 'notice'
          .alert-thumb-success.pull-right.emj &#x1F44D;

.container
  .row
    .col-sm-4
      = form_for(@doc, remote: true) do |f|
        #doc-steps
          %ul{style: 'position: absolute; top: 0'}
            %li
              %a{href: '#items', 'data-toggle': 'tab'}
            %li
              %a{href: '#impact_list', 'data-toggle': 'tab'}
            %li
              %a{href: '#implementation_list', 'data-toggle': 'tab'}
            %li
              %a{href: '#results', 'data-toggle': 'tab'}

          .tab-content
            .tab-pane#items

              = f.fields_for(:add_item, @doc.items.new) do |item_f|
                .row
                  .col-xs-12
                    %h3 Add Items
                .row
                  .col-xs-9

                    .form-group
                      = item_f.text_field :content,
                        class: 'form-control',
                        placeholder: '"Solve World Hunger", "Watch a Movie", ...'
                  .col-xs-2
                    .form-group
                      = item_f.submit 'Add', class: 'btn btn-primary'

                .row.items
                  .col-sm-12
                    %ul.list-group
                      = render f.object.items.order('created_at DESC')

            = render f.object.impact_list,
              doc: @doc,
              list_type: :impact_list

            = render f.object.implementation_list,
              doc: @doc,
              list_type: :implementation_list

            .tab-pane#results
              .row.items
                .col-sm-12
                  %h3 Here's What's Up!
                  %ul.list-group
                    = render f.object.whats_next

            .navbar.navbar-inverse.navbar-fixed-bottom.visible-xs-block
              .container-fluid
                %ul.nav.navbar-nav.wizard
                  %li.previous.col-xs-6
                    %button.btn.btn-transparent{href: '#', data: {toggle: 'collapse'}}
                      %i.fa.fa-lg.fa-chevron-left
                      Back
                  %li.next.col-xs-6{style: 'text-align: right'}
                    %button.btn.btn-transparent{href: '#', data: {toggle: 'collapse'}}
                      Next
                      %i.fa.fa-lg.fa-chevron-right

            .navbar.navbar-clear.hidden-xs
              .container-fluid
                %ul.nav.navbar-nav.wizard.navbar-left
                  %li.previous
                    %button.btn{href: '#', data: {toggle: 'collapse'}}
                      %i.fa.fa-lg.fa-chevron-left
                      Back
                %ul.nav.navbar-nav.wizard.navbar-right
                  %li.next
                    %button.btn{href: '#', data: {toggle: 'collapse'}}
                      Next
                      %i.fa.fa-lg.fa-chevron-right

    .col-sm-8.hidden-xs
      = render 'chart', doc: @doc
